.shopDetails{

  z-index: 1;
  background-color: white;

  .flexWrap{
  }


  .button-icon-only ion-icon{
    font-size: 2.2em;
  }

  ion-card.adv-map {
    width: 100%;
    margin: 0;
  }

  .fab-favorite {
    position: absolute;
    background-color: transparent;
    top:0.3em;
    right:0.6em;
    font-size: 2.8rem;
    color: white;
    z-index: 50;
  }

  .fab-time {
    position: absolute;
    background-color: transparent;
    bottom: 0em;
    left:0.3em;
    font-size: 1.8rem;
    text-align: center;
    color: white;
    z-index: 50;
  }

  ion-list{
    margin: 0;
  }

  .productIntroduction{
    margin-bottom:-0.1em;
  }

}
