<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button  (click)="openMenu()">
        tokyo<ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button>
        <ion-icon name="md-alert"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="product">

  <ion-slides pager class="ion-slides-class">
    <ion-slide>

      <ion-row class="menuClass1">
        <ion-col width-20  class="ion-col-class" *ngFor="let menuItem of menu1" >
          <button class="roundButton"  primary (click)="openProductListsPage(menuItem)" [ngStyle]="{'backgroundColor': menuItem.color}">
            <!--[ngStyle]="{'backgroundColor': item.color}" -->
            <ion-icon class="ion-icon-class" [name]="menuItem.icon"></ion-icon>
          </button>
          <div style="font-size:4vw;">
            {{menuItem.name}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="menuClass2">
        <ion-col width-20  class="ion-col-class" *ngFor="let menuItem of menu2" >
          <button class="roundButton"  primary (click)="openProductListsPage(menuItem)" [ngStyle]="{'backgroundColor': menuItem.color}">
            <!--[ngStyle]="{'backgroundColor': item.color}" -->
            <ion-icon class="ion-icon-class" [name]="menuItem.icon"></ion-icon>
          </button>
          <div style="font-size:4vw;">
            {{menuItem.name}}
          </div>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>

    </ion-slide>
  </ion-slides>
  <div class="product">


    <ion-list  *ngFor="let product of products"  approxItemHeight="50px">

        <ion-card class="adv-map" >
          <div style="position: relative">
            <!-- <ion-slides [options]="mySlideOptions"> -->
            <ion-slides>
              <ion-slide>
                <a (click)="openProductDetailsPage(product)">
                  <img class="bigImage" src="img/card-saopaolo.png" >
                </a>
                <a class="fab-favorite">
                  <ion-icon name='md-heart-outline'></ion-icon>
                </a>

                <div class="fab-time">
                  <ion-icon name='ios-time-outline'></ion-icon>
                  <span>20分</span>
                </div>

                <a class="fab-shop" (click)="openShopDetailsPage(product.email)">
                  <ion-avatar >
                    <img src="img/card-saopaoloo.png">
                  </ion-avatar>
                </a>
              </ion-slide>
            </ion-slides>

            <ion-item class="productIntroduction">
              <ion-icon subtle large item-left name='cloud'></ion-icon>
              <h2>Yoshi's Island</h2>

              <button danger clear item-right>
                <ion-icon name='navigate'></ion-icon>
                Start
              </button>
            </ion-item>
          </div>
        </ion-card>

    </ion-list>
  </div>
</ion-content>
